@import url('https://fonts.googleapis.com/css2?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css2?family=Archivo');

/*Comment example*/

body {
	background-color: rgb(16, 33, 105);
}

.darkblue-bg {
	background-color: rgb(16, 33, 105);
}

img {
	padding-left: 25%;
	margin: 0;
	width: 75%;
	height: 35%;
}

.LinkHead {
	display: block;
	height: 100%;
	line-height: 60px;
	font-size: 35px;
	list-style: none;
	font-weight: bold;
	font-family: "Archivo Black";
	color: white;
	text-align: center;
	background-color: rgb(28, 38, 86);
	margin-left: 0px;
	padding: 10px;
	border-radius: 10px;
   }

a:link {
	color: white;
	transition: 0.5s;
}

a:visited {
	color: rgb(167, 251, 244);
}


a:hover {
	color: rgb(89, 175, 219);
	font-size: 40px;
}

a:active {
	color: rgb(251, 255, 0);
}




.LinkDescription {
	font-size: 20px;
	list-style: none;
	font-family: "Archivo";
	color: white;
	text-align: center;
	background-color: rgb(28, 38, 86);
	vertical-align: top;
	margin-left: 0px;
	margin-bottom: 10px;
	padding: 20px;
	border-radius: 10px;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 25%;
	height: 100%;
	background-color: rgb(8, 20, 77);
}

.sidebarUl{
	padding: 5%;
}

.sidebarDivider {
	margin: 10%;
}

.Description {
	background-color: rgb(41, 51, 102);
	width: 50%;
	padding: 40px;
	margin-left: 35%;
	border-radius: 10px;
	color: white;
	font-size: 30px;
	font-family: "Archivo";
	text-align: center;
}

.contentBox {
	background-color: rgba(52, 121, 135, 0.647);
	width: 65%;
	padding: 20px;
	margin-left: 28%;
	border-radius: 10px;
	color: white;
	font-size: 30px;
	font-family: "Archivo";
}

.commentsBox {
	background-color: rgb(171, 206, 212);
	width: 80%;
	padding: 20px;
	margin-left: 8%;
	border-radius: 10px;
	color: white;
	font-size: 30px;
	font-family: "Archivo";
}

.comment{
	width: 80%;
	margin-left: 8%;
	font-size: 30px;
	font-family: "Archivo";
	border-radius: 10px;
	resize: none;
}

.newsRight {
	margin: 10px 10px;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	font-size: 30px;
}

.newsLeft {
	margin: 15px 20px;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	font-size: 30px;
}

.icon-left {
	color: black;
	background-color: lightblue;
	border-radius: 50px;
	display: inline-block;
	width: 300px;
	margin: 10px 10px;
	height: 300px;
	vertical-align: middle;
	text-align: center;
}

.icon-right {
	color: black;
	background-color: lightblue;
	border-radius: 50px;
	display: inline-block;
	width: 300px;
	margin-left: 30px;
	height: 300px;
	vertical-align: middle;
	text-align: center;
}

.songIcon-right {
	border-radius: 20px;
	display: inline-block;
	width: 20%;
	height: 20%;
	padding: 0;
	margin: 2%;
}


.news1 {
	background-image: url('Guard_Icon.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.news2 {
	background-image: url('Gold_Win_Icon.png');
	background-size: cover;
	background-repeat: no-repeat;
}



.compName {
	font-size: 45px;
	font-weight: bold;
	font-family: "Archivo Black";
	color: white;
	text-align: center;
	margin: 10px;
	
}

audio {
	width: 60%;
	margin-left: 5%;
	padding-bottom: 8%;
}

.page-end {
	margin: 0;
	text-align: center;
	width: 65%;
	font-family: "Archivo";
	font-size: 20px;
	padding-left: 30%;
}

.bg-grey {
	background-color: rgb(156, 156, 156);
}